body {
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}
.singledate {
  font-family: "Lucida Console", Monaco, monospace;
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
