:root {
  --wide-left-gap: 5rem;
  --body-max-width: 44rem;
  --body-padding: 1.5rem;
  --body-to-sidenote-dist: 5rem;
  --sidenote-width: 18rem;
  --clickable-color: #007bff;
}

body {
  max-width: var(--body-max-width);
  padding: var(--body-padding);
  margin: auto;
  margin-left: calc(var(--wide-left-gap) - var(--body-padding));
  line-height: 1.5em;
  font-family: Optima, Candara, Calibri, Arial, sans-serif;
}

/* body-width + 2 * wide-left-gap */
@media screen and (max-width: 54rem) {
  body { margin: auto }
}

/* header and footer areas */
.menu { padding: 0; }
.menu li {
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu a {
  color: rgb(0, 0, 238);
}
.menu, .article-meta, footer { text-align: center; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* title */
.single-title {
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: -0.33em;
}
.post-subtitle {
  margin-top: 0.5rem;
}

/* content */
content { hyphens: auto; }
content h1 { font-size: 1.5em; margin-bottom: -0.25em; }
content h2 { font-size: 1.17em; margin-bottom: -0.5em; }
content figure {
  margin-top: 25pt;
  margin-bottom: 25pt;
}
content figure img {
  display: block;
  margin: 0 auto;
}
content figure figcaption {
  color: rgba(0, 0, 0, 0.8);
}

/* details summary */
content summary::marker {
  color: var(--clickable-color);
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #f9f9f9;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

/* Sidenotes inspired by https://danilafe.com/blog/sidenotes/ */
.sidenote-label {
  color: var(--clickable-color);

  /* Sidenote label is normal weight and fixed size relative to root. */
  font-weight: normal;
  font-size: 0.7rem;
}

.sidenote-content {
  display: block;
  position: absolute;
  width: var(--sidenote-width);
  margin-top: -1.5rem;
  text-align: left;

  /* Sidenote content is normal weight and fixed size relative to root. */
  font-weight: normal;
  font-size: 0.9rem;
}

.sidenote-content {
  right: 0;
  margin-right: calc(
    100vw
    - var(--wide-left-gap)
    - var(--body-max-width)
    - var(--body-to-sidenote-dist)
    - var(--sidenote-width)
  );
}

.sidenote .sidenote-checkbox {
  display: none;
}

/* Inline sidenotes when screen is too small */
/* wide-left-gap + body-max-width + body-to-sidenote-dist + sidenote-width */
@media screen and (max-width: 72rem) {
  .sidenote-content {
    position: static;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 80%;
    justify-content: center;
    display: none;
  }

  .sidenote .sidenote-checkbox:checked ~ .sidenote-content {
    display: block;
  }
}
