<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if .IsHome }}
      t. TW
    {{ else }}
      {{ .Title }}, t. TW
    {{ end }}
  </title>

  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  {{ partial "mathjax.html" . }}
</head>

<body>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/posts/">Posts</a></li>
    <li><a href="/about/">About the site</a></li>
  </ul>
  <hr />

  {{ block "main" . }}
  {{ end }}

  <hr />
</body>

</html>
