{{ define "main" }}
<!-- For single pages (e.g. about, blog posts) -->

<h1 class=single-title>{{ .Title | markdownify }}</h1>

{{ if (isset .Params "subtitle") }}
<div class="post-subtitle">
  {{ .Params.subtitle | markdownify }}
</div>
{{ end }}

{{ if (gt .Params.date 0) }}
<div class="post-date">
  <span title="Date created.">Created: {{ .Date.Format "2006-01-02" }}</span>;
  <span title="Date last updated.">Updated: {{ .Lastmod.Format "2006-01-02" }}</span>.
</div>
{{ end }}

<content>
  {{ .Content }}
</content>

{{ end }}
